<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-D/7uAka7uwterkSxa2LwZR7RJqH2X6jfmhkJ0vFPGUtPyBMF2WMq9S+f9Ik5jJu1" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>COIN Buddy | Cards</title>
</head>

<body>
  <div class="container mt-3" id="content">
    <div class="row">
      <form>
        <div class="form-row pl-2">
          <div class="col">
            <input type="number" class="form-control" id="cardNumberInput" aria-describedby="cardNumber"
              placeholder="Card number" pattern="[0-9]*" inputmode="numeric">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary" id="searchButton" v-on:click="updateCard">Search</button>
          </div>
        </div>
      </form>
    </div>
    <hr />
    <div class="row" id="result" style="display: none;">
      <div class="card" id="card-result" style="width: 40rem">
        <div class="card-body">
          <h1 class="card-title text-center" id="cardTitle">{{ cardTitle }}</h1>
          <h6 class="card-subtitle mb-2 text-muted text-center" id="cardFactions">
            <span v-for="(item, index) in cardFactions">
                <img v-bind:src='item.avatar' width="40" height="60" alt="item.faction" />
                <span v-if="index != cardFactions.length - 1"> | </span> 
            </span>
          </h6>
          <div class="card-body bg-light">
            <h6 class="card-subtitle mb-2 text-muted" id="cardFlavor">{{ cardFlavor }}</h6>
            <p class="card-text" id="cardText">{{ cardText }}</p>
          </div>
          <div class="card-body bg-secondary text-light" id="secondVersion" v-if="secondVersion">
            <h6 class="card-subtitle mb-2" id="cardFlavor2">{{ cardFlavor2 }}</h6>
            <p class="card-text" id="cardText2">{{ cardText2 }}</p>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Card tip</h6>
            <p class="card-text" id="cardTip">{{ cardTip }}</p>
          </div>
          <hr />
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Background</h6>
            <p class="card-text" id="cardBackground">{{ cardBackground }}</p>
          </div>
          <div class="card-body">
            <p class="card-text text-secondary text-right" id="cardNumber">{{ cardNumber }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ game }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" v-on:click="changeGame" name="fire-in-the-lake">Fire in the Lake</a>
          <a class="dropdown-item" href="#" v-on:click="changeGame" name="falling-sky">Falling Sky</a>
          <a class="dropdown-item" href="#" v-on:click="changeGame" name="gandhi">Gandhi</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="script.js"></script>
</body>

</html>